<div class="kafedra-container">

    <div class="kafedra-information-container">

        <div class="contact-container">

            <span class = "contact-block">

                <img class = "contact" src="person.svg" alt="contact">

                <span class = "teacher-name">Завідувач - {{teacher_name}}</span>

            </span>

            <span class = "contact-block">

                <img class = "contact" src="phone.svg" alt="contact">

                <span class = "teacher-name">{{kafedra_phone}}</span>

            </span>

            
            <span class = "contact-block">

                <img class = "contact" src="link.svg" alt="contact">

                <span class = "teacher-name"><a href="www.electronics.lnu.edu.ua" target="_blank">www.electronics.lnu.edu.ua</a></span>

            </span>
        
        </div>

        <div class="kafedra-text-container">

            <span>

               {{about_kafedra}}

            </span>

        </div>

    </div>

</div>