<div class="scorecard-container">

    <app-header></app-header>

    <div class="scorecard-info">

        <div class="scorecard">

            <h2>Журнал оцінок</h2>

            <div class="head-container">

                <span>Предмет оцінювання</span>

                <span>Оцінка</span>

                <span>Шкала оцінювання</span>

            </div>

            <div class="scorecards">

                <app-scorecard-layout [courses]="courses"></app-scorecard-layout>

            </div>

        </div>
        
    </div>


</div>