<div class="chat-with-container">

    <div class="user-avatar">

        @if(user.userPhoto != null){
            <img [src] = "user.userPhoto" alt="user-pht" class="user-avatar-img">
        }@else {
            <img src="person.svg" alt="user-pht" class="user-avatar-img">
        }
    </div>

    @if (user!=null) {
    <div class="chat-container" (click)="selectChat(user)">

        <div class="name-time-container">

            <span class="user-name">{{ user.receiverId || user.recieverName || user.groupName }}
            </span>

            <span class="time">{{ user.time | date:'HH:mm' }}</span>

        </div>

        <div class="text-container">

            <span class="message-text">{{user.text}}</span>

        </div>

    </div>
    }


</div>