<div class="login-page-wrapper">

    <div class="background-element">

        <img class = "logo-img" src="logo.jpg" alt="Logo">

    </div>

    <div class="page-content-wrapper">

        <div class="page-theme-container">

            <h1>Львівський національний університет імені Івана Франка</h1>
            <p>Факультет електроніки та комп'ютерних технологій</p>
            
        </div>

        <div class="login-container">

            <div class="login-teacher-container">

                <button routerLink="LoginTeacher" class = "teacher-login-btn">ПС-ЖУРНАЛ УСПІШНОСТІ ДЛЯ ВИКЛАДАЧІВ</button>

            </div>

            <div class="login-student-container">

                <button routerLink="LoginStudent" class = "student-login-btn">ПС-ЖУРНАЛ УСПІШНОСТІ ДЛЯ СТУДЕНТІВ</button>

            </div>

        </div>

        

    </div>

</div>
