.profile-page-container{
    overflow-y: hidden;
}

.profile-info-container{
    width: 100%;
    height: 530px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}