
.kafedra-container{
    display: flex;
    flex-direction: row;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 10px;
    margin-top: 30px;
    width: 600px;
    z-index: 9998;
}

.image-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.kafedra-information-container{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    z-index: 9998;
}

.contact-container{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 5px;
}

.redirect-to-kafedra-btn{
    width: 300px;
    height: 20px;
    border: none;
    background: none;
    border-bottom: 1px solid transparent;
    background-color: none;
    cursor: pointer;
    font-size: 14px;
    box-sizing: border-box;
    text-align: left;
    z-index: 9998;
}

.redirect-to-kafedra-btn:hover{
    
    border-bottom: 1px solid black;

}

.kafedra-img{
    width: 70px;
    height: 70px;
}

.contact-block{
    display: flex;
    align-items: center;
    margin-top: 5px;
    flex-direction: row;
    gap: 20px;
}

.teacher-name{
    font-size: 12px;
}

.contact{
    width: 15px;
    height: 15px;
}