<div class="container-menu">

    <ul class="section-menu">

        <li><a href="KafedraInformation/7">Кафедра системного проектування</a></li>
        <li><a href="KafedraInformation/4">Кафедра радіоелектроних та комп’ютерних систем</a></li>
        <li><a href="KafedraInformation/5">Кафедра радіофізики та комп’ютерних технологій</a></li>
        <li><a href="KafedraInformation/6">Кафедра сенсорної та напівпровідникової електроніки</a></li>
        <li><a href="KafedraInformation/8">Кафедра фізичної та біомедичної електроніки</a></li>
        <li><a href="KafedraInformation/3">Кафедра оптоелектроніки та інформаційних технологій</a></li>
        


    </ul>

</div>