.kafedra-info-container{
    width: 100%;
}

.kafedra-info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.main-container{
    border: 1px solid gray;
    border-radius: 10px;
    background-color: rgb(255, 243, 228);
    padding: 20px;
    width: 1200px;
}

.page-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    background-color: rgb(107, 107, 196);
    color: white;
    border-radius: 15px;
    padding: 20px;
    width: 1175px;
    margin-top: 10px;
    height: 20px;
    font-size: 15px;
    font-weight: 400;
}

.kafedra-img{
    width: 50px;
    height: 50px;
}

.info-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 15px;
}


app-header {
    position: sticky;
    top: 0;
    background-color: white;  
    z-index: 9999; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}