.teacher-login-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.form-wrapper{
    background-color: rgb(255, 255, 255);
    display: flex;
    width: 500px;
    height: 400px;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 5px;
}

.login-theme{
    padding-top: 10px;
    padding-left: 10px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    height: 200px;
    gap: 30px;
}

input{
    width: 400px;
    height: 50px;
    outline: none;
    padding-left: 10px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}

input:hover{
    border: 2px solid blue;
}

input:focus{
    border: 2px solid black;
}

.submit-btn{
    border: none;
    background-color: green;
    border-radius: 5px;
    cursor: pointer;
    width: 300px;
    color: white;
    height: 30px;
    transition: 0.3s ease-in-out;
}

.submit-btn:hover{
    background-color: rgb(6, 158, 6);
}

.login-label{
    position: absolute;
    top: 41.5%;
    left: 38%;
    transform: translateY(-50%);
    transition: all 0.3s ease;
    color: #0e0a0a;
    pointer-events: none; 
    background-color: rgb(255, 255, 255);
    padding-left: 25px;
    padding-right: 25px;
  }

  input:focus + .login-label,
  input:valid + .login-label {
    font-size: 15px;
    color: black;
    top: 38%;
    line-height: 30px;
    left: 38%;
    z-index: 1111;
}

.password-label{
    position: absolute;
    top: 53%;
    left: 38%;
    transform: translateY(-50%);
    transition: all 0.3s ease;
    color: #0e0a0a;
    pointer-events: none; 
    background-color: rgb(255, 255, 255);
    padding: 0 25px;
  }

  input:focus + .password-label,
  input:valid + .password-label {
    font-size: 15px;
    color: black;
    top: 50%;
    line-height: 30px;
    left: 38%;
    z-index: 1111;
}

.info-text-container{

    display: flex;
    padding-left: 10px;
    text-align: center;
    color: rgb(54, 54, 54);
    flex-direction: column;
    gap: 20px;
}
